body {
  font-family: "Open Sans", sans-serif;
  background: #e5e5e5;
}
.logo-row{
  margin-top: 30px;
}
.logo-img{
  width: 30%;
}
.add-journal-entry{
  min-height: 300px;
  border: solid 1px #d8d2d2;
  box-shadow: 5px 10px 17px 5px #d8d2d2;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  padding: 20px;
}
.image-upload > input {
  visibility:hidden;
  width:0;
  height:0
}
.image-upload  i{
  cursor: pointer;
}
.disp-inl-flex{
  display: inline-flex;
}
.disp-inl-flex .input-group.date{
  width: 60%;
  margin-top:-10px;
  margin-left: 10px;
}
i.green-color{
  color: green;
}
i.red-color{
  color: red;
}
i.lightgreen-color{
  color: #c87e8b;
}
a.addremoveicon i{
  font-size: 25px;
  padding-top: 5px;
}
textarea.journal-desc{
  height: 35px;
}
.pdlr0{
  padding-left: 2px;
  padding-right: 2px;
}
.txtend{
  text-align: end;
}
.txtleft{
  text-align: left;
}
.credit-section{
  margin-right: -35px;
  margin-left: 30px;
}
.btn-save, .btn-save:hover{
  background: green;
  border: green;
  min-width: 100px;
  margin-top: 40px;
  color: #fff;
}
#totaldebitbtn{
  background: #6aaf6a9e;
  border: #6aaf6a9e;
  width: 100px;
  margin-top: 40px;
  height: 32px;
  color: #000;
  padding: 5px;
  border-radius: 5px;
  margin-right: 30px;
}
#totalcreditbtn{
  background: #c87e8b;
  border: #c87e8b;
  width: 100px;
  margin-top: 40px;
  height: 32px;
  color: #000;
  padding: 5px;
  border-radius: 5px;
}
.journal-list-p{
  float: right;
  margin-bottom: 30px;
  margin-right: 20px;
}
footer{
  margin-top: 20px;
}

